@font-face {
  font-family: gloriousfree;
  src: url(../fonts/GloriousFree-dBR6.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  grid-area: header;
}

.container {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px auto auto;
  grid-template-areas: "header header header header" "main main main main " "footer footer footer footer ";
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
}
.header h1 {
  font-family: gloriousfree;
  font-size: 48px;
  font-weight: lighter;
}
.header .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header .navbar ul a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.header .header__bar {
  margin: 10px auto;
  width: 85%;
}
.header .header__bar hr {
  background-color: white;
  height: 4px;
  border: 1px solid black;
  border-radius: 10px;
}

@media (max-width: 770px) {
  .contacto {
    display: none;
  }
  .nosotros {
    display: none;
  }
}
.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
}
.container .main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.container .main .main__reserve img {
  width: 200px;
  height: 200px;
  margin: 15px 0;
}
.container .main .main__reserve {
  display: flex;
  flex-direction: column-reverse;
}
.container .main .main__reserve p {
  margin: 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.container .main .main__reserve p span {
  font-weight: bold;
  font-style: italic;
}
.container .main .main__reserve button {
  padding: 10px 40px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgb(194, 66, 194);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}
.container .main .main__reserve button a {
  text-decoration: none;
  color: white;
}
.container .main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}
.container .main ul li {
  margin: 5px 0;
}
.container .main ul li a {
  text-decoration: none;
  color: black;
}

.product {
  grid-area: product;
}

.main .product {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
.main .product h3 {
  margin: 10px 0;
}
.main .product a {
  text-decoration: none;
  color: black;
}

@media (min-width: 700px) {
  .main__products {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .main__products .product {
    width: 200px;
    height: auto;
    margin: 1rem auto;
  }
}
.main__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__text .main__quienessomos {
  display: flex;
  width: 40%;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
  text-align: center;
}
.main__text .main__quienessomos .main__quienessomos-image {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px auto;
}
.main__text .main__quehacemos {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
  position: relative;
  top: 80px;
  margin: 1rem auto;
}
.main__text .main__quehacemos .main__quehacemos-image {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px auto;
}
.main__text .main__nuestrahistoria {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px auto;
}
.main__text .main__nuestrahistoria .main__nuestrahistoria-image {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 500px;
}

.main .main__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main .main__form textarea {
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}
.main .main__form input {
  display: flex;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  color: grey;
  width: 200px;
  height: 25px;
  background-color: whitesmoke;
}
.main .main__form button {
  height: 25px;
  margin: 1rem;
  width: 200px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: lightblue;
}
.main .main__form button a {
  text-decoration: none;
  color: black;
}

@media (max-width: 430px) {
  .footer {
    display: none;
  }
}

.footer {
  margin: 30px 0;
}
.footer input {
  border: 1px solid black;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  margin-top: 15px;
}
.footer .footer__newsletter-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.footer .footer__newsletter-text {
  margin: 1rem auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
