@font-face {
  font-family: gloriousfree;
  src: url(../fonts/GloriousFree-dBR6.ttf);
}
@font-face {
  font-family: ChopinScripts;
  src: url(../fonts/ChopinScript.otf);
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  h1 {
    margin-top: 10px;
    font-family: gloriousfree;
    font-size: 48px;
    font-weight: lighter;
  }
}
