@font-face {
  font-family: gloriousfree;
  src: url(../fonts/GloriousFree-dBR6.ttf);
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  h1 {
    margin: 10px 0 10px 0;
    font-family: gloriousfree;
  }
  h2 {
    margin-bottom: 10px;
  }
}
